body{
   background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
.main{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  

}
.calculator{
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 15px;
}
.calculator h3{
  color: white;
  text-align: center;
  font-weight: 800;
  
}
.calculator form input{
  border : 0px;
  font-size: 20px;
  font-weight: 100;
  margin: 10px;
  /* padding: 20px; */
  width: 70px;
  height: 70px;
  border-radius: 5px;
  box-shadow: -6px -6px 10px rgba(88, 250, 0, 0.2), 4px 4px 10px rgba(88, 250, 0, 0.2);
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.calc-result{
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;
  
}
.calc-result input{
  text-align: right;
  padding: 20px;
  flex:1;
  
  
}
.calculator form input.equal{
  width:165px;
  box-sizing: border-box; 
}

.calculator form input.operator-buttons{
  color: green;
  font-weight: bold;
}